<br />
<div class="container bg-light">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Basic</th>
            <th scope="col">Silver</th>
            <th scope="col">Gold</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Duration (Months)</th>
            <td>3</td>
            <td>6</td>
            <td>12</td>
          </tr>
          <tr>
            <th scope="row">Basic Training</th>
            <td>Included</td>
            <td>Included</td>
            <td>Included</td>
          </tr>
          <tr>
            <th scope="row">Personal Trainig</th>
            <td>N/A</td>
            <td>Not Included</td>
            <td>Included</td>
          </tr>
          <tr>
            <th scope="row">Timings</th>
            <td>5:00 AM - 10:00 AM</td>
            <td>5:00 AM - 10:00 AM<br /> 6:00 PM - 10:00 PM</td>
            <td>5:00 AM - 10:00 PM</td>
          </tr>
          <tr>
            <th scope="row">Price</th>
            <td>$30</td>
            <td>$50</td>
            <td>$90</td>
          </tr>
          <tr>
            <th scope="row">Action</th>
            <td>
                <button type="button" class="btn btn-primary">Subscribe</button>
            </td>
            <td>
                <button type="button" class="btn btn-secondary">Subscribe</button>
            </td>
            <td>
                <button type="button" class="btn btn-warning">Subscribe</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>